.companyLogo {
  margin-top: 15px;
  max-width: 150px;
  max-height: 150px;
}

.segment {
  width: 500px;
}

.submitBtn {
  max-width: 400px;
  margin: 20px auto;
}

@media (max-width: 600px) {
  .segment {
    width: 200px;
  }

  .submitBtn {
    max-width: 250px;
  }
}
